@import '/styles/colors';

.header {
  height: 100vh;
  max-width: 2048px;
  left: 50%;
  margin-left: -1024px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.3) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  width: 2048px;
  height: 100vh;
  overflow: hidden;
}

.bg_image_container {
  position: absolute;
  width: 2048px;
  margin-left: -20px;
  height: 100vh;
  z-index: 10;
}

.bg_image {
  position: absolute;
  top: -100px;
  // left: -30px;
  z-index: 1;

}

.languageBtns {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  z-index: 1001;

  & p {
    font-size: 20px;
    color: $yellow;
  }
}

.languageBtn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: $yellow;

}

.burgerBtn {
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: transparent;
  border: none;
  z-index: 1001;
}

.burger {
  height: 30px;
  color: $yellow;
}

.logoContainer {
  z-index: 1001;
  position: absolute;
  width: 340px;
  height: 200px;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.title {
  font-family: TangoSans, sanserif;
  font-weight: 700;
  font-size: 55px;
  // width: 340px;
  // margin: 0 auto;
  // text-align: center;
  color: $yellow;
  // padding-top: 30px;
  // padding-bottom: 30px;
  display: none;
}

.textContainer {
  width: 350px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

.text {
  font-size: 18px;
  color: $yellow;

  & span {
    font-weight: 800;
  }
}

.btn {
  background-color: $obispo;
  color: $yellow;
  border: 2px solid $yellow;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  padding: 7px;
  text-decoration: none;
  margin-top: 15px;

  &:hover {
    cursor: pointer;
  }
}


@media screen and (min-width: 400px) {
  .bg_image_container {
    margin-left: 0;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    height: 800px;
  }

  .languageBtns,
  .burgerBtn,
  .logoContainer {
    display: none;
  }

  .overlay {
    background: rgba(0, 0, 0, .5) 100%;
  }

  .title {
    display: initial;
  }

  .textContainer {
    width: 550px;
    margin-left: 0;
    margin-right: 0;
    align-items: flex-start;
    top: 350px;
    left: 200px;

    & p {
      width: 400px;
    }
  }

  // .btn,
  // .btnEn {
  //   bottom: 170px;
  //   left: 200px;
  //   margin: 0;
  // }

  .bg_image {
    top: -150px;
  }

  // .btn,
  // .btnEn {
  //   position: relative;

  // }
}

@media screen and (min-width: 1200px) {
  .textContainer {
    left: 300px;
  }

  .btn,
  .btnEn {
    left: 300px;
  }
}