@import '/styles/colors';

.eventosHome{
  background-color: $white;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-family: TangoSans, sanserif;
  font-weight: 700;
  font-size: 30px;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  color: $obispoTexto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text{
  font-size: 20px;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  color: $obispoTexto;
  & span{
    font-weight: 800;
  }
}
.events{
  padding: 20px 0;
}
.eventsBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
} 
.eventsTitle{
  font-weight: 800;
  font-size: 22px;
  width: 340px;
  margin-bottom: -10px;
  text-align: center;
  color: $obispoTexto;

}
.eventsDescription{
  text-align: center;
  font-size: 18px;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  color: $obispoTexto;
}
.img{
  position: relative;
  max-width: 350px;
  height: auto;
}

.btn{
  background-color: transparent;
  width: 100%;
  border: none;
}

.link{
  background-color: $obispo;
  color: $yellow;
  border: 2px solid $yellow;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  padding: 7px;
  text-decoration: none;
  &:hover{
    cursor: pointer;
  }
}

@media screen and (min-width: 500px){
  .title{
    width: 400px
  }
}

@media screen and (min-width: 1000px){
  .title{
    width: 600px;
    font-size: 45px;
  }
  .eventsDescription{
    font-size: 16px ;
  }
}

@media screen and (min-width: 1200px){
  .title{
    width: auto;
  }
  .eventosHome{
    padding: 30px 0 50px;
  }

  .events{
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
  }
}