@import '/styles/colors';

.confiar{
  background-color: $white;
}


.title{
  font-family: TangoSans, sanserif;
  font-weight: 700;
  font-size: 30px;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  color: $obispoTexto;
  padding-top: 30px;
  padding-bottom: 30px;
}


.container{
  margin-top: 20px;
}

.item{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}

.itemIcon{
  font-size: 80px;
  color: $darkGray;
}

.itemTitle{
  font-weight: 800;
  font-size: 22px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: -10px;
  text-align: center;
  color: $obispoTexto;
}

.itemText{
  text-align: center;
  font-size: 18px;
  width: 300px;
  margin: 0 auto;
  color: $obispoTexto;
}


@media screen and (min-width: 800px){
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 650px;
    margin: 0 auto;
  }

}
@media screen and (min-width: 1000px){
  .confiar{
    padding-bottom: 50px;
  }
  .title{
    font-size: 45px;
    width: auto;
    padding: 50px 0 70px ;
  }

}

@media screen and (min-width: 1400px){
  .container{
    width: 90%;
    max-width: 1400px;
  }

}