@import '/styles/colors';

.section{
  background-color: $white;
  padding-bottom: 30px;
}

.title{
  font-family: TangoSans, sanserif;
  font-weight: 700;
  font-size: 30px;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  color: $obispoTexto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.subTitle{
  font-weight: 500;
  font-size: 22px;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  color: $obispoTexto;
  padding-bottom: 30px;
}
.subTitle2{
  font-weight: 500;
  font-size: 22px;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  color: $obispoTexto;
  padding-top: 30px;
}

.text{ 
  font-size: 18px;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  color: $obispoTexto;
}

@media screen and (min-width: 1000px){
  .title{
    font-size: 45px;
    width: auto;
  }
  .section{
    padding-bottom: 50px;
  }
}