@import 'colors';

.nuestrosServicios{
  background-color: $darkGray;
}

.title{
  font-family: TangoSans, sanserif;
  font-weight: 700;
  font-size: 30px;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  color: $yellow;
  padding-top: 30px;
  padding-bottom: 30px;
}
.serviceContainer{
  display: grid;
  grid-template-columns: repeat(2, minmax(175px, auto));
  grid-template-rows: repeat(3, 200px) ;
  align-items: center;
  vertical-align: center;
  max-width: 500px;
  margin: 20px auto 0;

}
.service{
  display: flex;
  flex-direction: column;
  width: 175px;
  height: 150px;
  margin: 0 auto;
}

.icon{
  height: 50px;
  color: $yellow;
}

.text{
  text-align: center;
  font-size: 16px;
  width: 90%;
  margin: 10px auto 0;
  color: $yellow;
}