@import '/styles/_colors';


.about{
  background-color: $white;

}
.languageBtns{
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  z-index: 1001;
  & p{
    font-size: 20px;
    color: $yellow;
  }
}
.languageBtn{
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: $yellow;

}
.burgerBtn{
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: transparent;
  border: none;
  z-index: 1001;
}
.burger{
  height: 30px;
  color: $yellow;
}

.title{
  font-family: TangoSans, sanserif;
  font-weight: 700;
  font-size: 30px;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  color: $obispoTexto;
  padding-top: 80px;
  padding-bottom: 30px;
}

.text{
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
  color: $obispoTexto;
  & span{
    font-weight: 800;
  }
}

.sole{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.soleImg{
  position: relative;
  max-width: 450px;
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.soleTitle{
  font-family: TangoSans, sanserif;
  font-weight: 700;
  font-size: 30px;
  width: 340px;
  margin: 0 auto;
  text-align: center;
  color: $obispoTexto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.soleText{
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin: 0 auto 30px;
  color: $obispoTexto;
}

.soleBtn{
  background-color: $obispo;
  color: $yellow;
  border: 2px solid $yellow;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  padding: 7px;
  position: relative;
  left: 50%;
  margin-left: -60.12px;
  bottom: 15px;
  z-index: 100;
  a {
    color: $yellow;
    text-decoration: none;
  }
  :hover{
    cursor: pointer;
  }
}

.soleLinks{
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 40px;
  font-size: 50px;
  & a {
    color: $obispoTexto;
    transition: all .3s;
    &:hover{
      color: $yellow;
    }
  }
}

@media screen and (min-width: 700px){
  .title{
    width: 500px;
  }
}

@media screen and (min-width: 1000px){
  .title{
    font-size: 45px;
    width: 600px;
  }
  .titleEn{
    width: 650px;
  }
  .about{
    padding-top: 80px;
  }
  .languageBtns, .burgerBtn{
    display: none;
  }
}

@media screen and (min-width: 1200px){
  .title{
    margin: 0 0 30px 35px;
    padding: 0;
    text-align: start;
  }
  .soleText{
    width: auto;
    br{
      display: none;
    }
  }
  .text{
    max-width: 700px;
  }
  .section{
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .sole{
    padding-top: 0;
  }
}